---
layout: layouts/post.njk
title: Colophon
templateClass: tmpl-post
eleventyNavigation:
  key: Colophon
  order: 6
---
All content is copyright to Daniel Goldman, 2020, under a Creative commons Attribution 4.0.

All custom software and code are copyright Daniel Goldman, 2020, under an MIT license.

Inspiration for the sidebar on the right was taken from [Chris Krycho](https://v5.chriskrycho.com/), although his is much better executed.
