---
layout: layouts/home.njk
eleventyNavigation:
  key: Feeds
  order: 7
---
<h1>Feeds</h1>

<ul>
  <li><a href="{{ '/feed/feed.json' }}">JSON</a></li>
  <li><a href="{{ '/feed/feed.xml' }}">RSS</a></li>
</ul>
