---
permalink: /recipes/
layout: layouts/home.njk

eleventyNavigation:
  key: Recipes
  order: 3
---
<h1>Recipes</h1>

<ul>
  {% for s in recipesdb | sort %}
    <li>
			{% set seriesUrl %}/recipes/{{ s.name | slugify }}.html{% endset %}
			<a href="{{ seriesUrl | url }}">{{ s.name }}</a>
    </li>
  {% endfor %}
</ul>
