---
permalink: /tags/
layout: layouts/home.njk

eleventyNavigation:
  key: Tags
  order: 3
---
<h1>Tags</h1>

<div class="tagcontainer">
  {% for tag in collections.tagList | sort %}
  <div class="tagitem">
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% if tag|lower in tag_descriptions %}{{ tag_descriptions[tag|lower] | safe}}{% endif %}
  </div>
  {% endfor %}
</div>